.movie-details-container {
    background-color: #121212; // Dark background color matching Hotflix site
    color: #d1d1d1; // Light text for contrast
    padding: 20px;
  
    .movie-details-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
  
      @media (min-width: 1024px) {
        flex-direction: row;
        justify-content: space-between;
      }
  
      .movie-poster {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
  
        img {
          width: 100%;
          max-width: 300px;
          border-radius: 12px;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
          transition: transform 0.3s ease;
  
          &:hover {
            transform: scale(1.05);
          }
        }
      }
  
      .movie-info {
        flex: 2;
        h1 {
          font-size: 2.5rem;
          color: #fff;
          margin-bottom: 1rem;
        }
  
        p {
          margin-bottom: 0.5rem;
          font-size: 1rem;
  
          strong {
            color: #888888;
          }
  
          &:last-child {
            font-size: 1.2rem;
            color: #ffcc00;
          }
        }
      }
  
      .movie-player {
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
  
        .plyr__video-embed {
          width: 100%;
          max-width: 720px;
          border-radius: 12px;
          box-shadow: 0 6px 20px rgba(0, 0, 0, 0.8);
        }
  
        video {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  

  
.section {
    padding: 50px 0;
    position: relative;
  }
  .section__title-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  .section__title {
    color: #fff;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 0;
  }
  .section__title b {
    font-weight: 600;
  }
  .section__title--head {
    font-size: 32px;
  }
  .section__title--mt {
   // margin-top: 50px;
  }
  .section__text {
    color: #c0c0c0;
    font-size: 16px;
    line-height: 26px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  .section__text b {
    font-weight: 600;
    color: #fff;
  }
  .section__text a {
    color: #f9ab00;
  }
  .section__text a:hover {
    color: #f9ab00;
    text-decoration: underline;
  }
  .section__text:first-child {
    margin-top: 0;
  }
  .section__list ol {
    padding-left: 0;
    list-style: none;
    counter-reset: li;
    margin-bottom: 0;
  }
  .section__list ol ol {
    padding-left: 15px;
    margin-top: 10px;
  }
  .section__list ol ol ol {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .section__list ol ol ol li {
    margin-top: 5px;
  }
  .section__list ol h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 20px;
  }
  .section__list ol li {
    font-size: 16px;
    line-height: 26px;
    color: #c0c0c0;
    position: relative;
  }
  .section__list ol li b {
    font-weight: 600;
    color: #fff;
  }
  .section__list ol li a {
    color: #f9ab00;
  }
  .section__list ol li a:hover {
    color: #f9ab00;
    text-decoration: underline;
  }
  .section__list ol li:last-child {
    margin-bottom: 0;
  }
  .section__list ol li:before {
    counter-increment: li;
    content: counters(li, ".") ". ";
  }
  .section__view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 70px;
    padding: 0 15px;
    height: 36px;
    color: #fff;
    border-radius: 8px;
    background-color: #222028;
    font-size: 14px;
    margin-top: 20px;
    text-transform: uppercase;
  }
  .section__view:hover {
    color: #f9ab00;
  }
  .section__carousel {
    margin-top: 24px;
  }
  .section__wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  .section__more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 160px;
    border-radius: 8px;
    background-color: transparent;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #f9ab00;
    margin: 50px auto 0;
  }
  .section__more:hover {
    color: #fff;
    background-color: rgba(249,171,0,0.05);
  }
  .section__item-filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }
  .section__item-select {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    margin-top: 15px;
    margin-right: 15px;
    padding: 0 20px;
    border-radius: 8px;
    border: none;
    background: #222028;
  }
  .section__item-select:focus {
    box-shadow: none;
  }
  .section__item-select:last-child {
    margin-right: 0;
  }
  .section__item-select .ss-single {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    padding: 0;
    margin: 0 !important;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
  }
  .section__item-select .ss-arrow {
    width: 8px;
    height: 8px;
    margin: 1px 0 0 6px;
  }
  .section__item-select .ss-arrow path {
    stroke: #fff;
  }
  .section__item-select .ss-search {
    padding: 0;
    margin-bottom: 15px;
    font-size: 16px;
    color: #c0c0c0;
    width: 100%;
  }
  .section__item-select .ss-search:last-child {
    margin-bottom: 0;
  }
  .section__item-select .ss-search input {
    padding: 0;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    height: 40px;
  }
  .section__item-select .ss-search input:focus {
    box-shadow: none;
  }
  .section__item-select .ss-search input::placeholder {
    color: #c0c0c0;
  }
  .section__item-select .ss-list {
    width: 100%;
  }
  .section__item-select .ss-list .ss-option {
    font-size: 16px;
    color: #fff;
    line-height: 38px;
    padding: 0;
    transition: 0.4s ease;
  }
  .section__item-select .ss-list .ss-option:hover {
    background-color: transparent;
    color: #f9ab00;
  }
  .section__item-select .ss-list .ss-option.ss-selected {
    background-color: transparent !important;
    color: #f9ab00 !important;
  }
  .section__item-select.ss-content {
    flex-direction: column;
    align-items: flex-start;
    border: none;
    border-radius: 8px;
    min-width: 130px;
    padding: 15px 20px;
    background: #222028;
    box-shadow: none;
  }
  .section__item-select.ss-open-below,
  .section__item-select.ss-open-above {
    border-radius: 8px;
  }
  .section__details-bg {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #1a191f;
    z-index: 1;
    opacity: 0.2;
    pointer-events: none;
  }
  .section__details-bg:after {
    content: '';
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: linear-gradient(0deg, #1a191f 0%, #1a191f 25%, rgba(26,25,31,0) 100%);
  }
  .section__roadmap {
    display: block;
    position: relative;
    margin-top: 24px;
    width: 100%;
    background-color: #222028;
    border-radius: 8px;
    padding: 30px 20px;
  }
  .section__roadmap:before {
    content: '';
    position: absolute;
    display: block;
    height: 4px;
    top: 82px;
    right: 20px;
    left: 20px;
    border-radius: 4px;
    background: #f9ab00;
  }
  .section--catalog {
    padding: 0 0 50px;
  }
  .section--first {
    //margin-top: 70px;
    border-bottom: 1px solid #222028;
  }
  .section--details {
    margin-top: 0px;
    border-bottom: 1px solid #222028;
    @media (min-width: 768px) {
        margin-top: 20px;
    }
  }
  .section--details .container {
    position: relative;
    z-index: 4;
    margin: 0;

    @media (min-width: 768px) {
        margin: 0 62px 0 62px; 
    }
  }
  .section--border {
    border-top: 1px solid #222028;
  }
  .section--blue {
    background-color: #222028;
  }
  .section--notitle {
    padding-top: 26px;
  }
  .section--pt {
    padding-top: 0;
  }
  @media (min-width: 768px) {
    .section {
      //padding: 70px 0;
    }
    .section__title-wrap {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .section__title {
      font-size: 36px;
      line-height: 46px;
    }
    .section__title--mt {
     // margin-top: 70px;
    }
    .section__wrap {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .section__view {
      margin-top: 0;
    }
    .section__view--carousel {
      margin-right: 117px;
    }
    .section__roadmap {
      padding: 30px 30px 40px;
    }
    .section__roadmap:before {
      left: 30px;
      right: 30px;
      top: 87px;
    }
    .section--catalog {
      padding: 0 0 70px;
    }
    .section--first {
      padding: 50px 0;
    }
    .section--first,
    .section--details {
      margin-top: 20px;
    }
    .section--notitle {
      padding-top: 46px;
    }
    .section--pt {
      padding-top: 0;
    }
  }
  @media (min-width: 992px) {
    .section__title--sidebar {
      margin-top: 24px;
    }
  }
  @media (min-width: 1200px) {
    .section__title--head {
      font-size: 40px;
    }
    .section__title--mt {
      margin-top: 0;
    }
    .section__roadmap {
      padding: 30px;
    }
  }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color, inherit);
}
@media (min-width: 1200px) {
    .item--details {
        margin-bottom: 0;
    }
}
.item--details {
    display: block;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    position: relative;
    margin-top: 24px;
}
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
}

.item__cover img {
    width: 100%;        /* Ensures the image takes the full width of the parent */
    height: 100%;       /* Fits the row size */
    object-fit: cover;  /* Ensures the image fills the parent without stretching */
    border-radius: 8px; /* Optional: Adds rounded corners */
  }
  .item__rate--green {
    border-color: #29b474;
}
.item__rate {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    z-index: 3;
    display: flex
;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    top: 15px;
    left: 15px;
    background-color: rgba(26, 25, 31, 0.6);
    border: 2px solid transparent;
    border-radius: 50%;
    border-color: #ff385c;
}
.item__meta {
    
        padding-left: 2rem;
        margin-inline-start: 0px;
        padding-inline-start: 0px;
        list-style-type: none;
    
}
.scroll-content {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* Parent Container */
.movie-description {
    position: relative;
    max-height: 250px; /* Adjust height as needed */
    overflow: hidden;
    background-color: #1c1c1e; /* Dark theme background */
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #ffffff; /* White text for dark background */
    font-family: 'Source Sans Pro', sans-serif;;
    font-size: 14px;
    line-height: 1.5;
  }
  
  /* Scrollable Content */
  .scrollable-content {
    max-height: 100%;
    overflow-y: auto; /* Enables vertical scrolling if needed */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #ff5555 #29292c; /* Thumb and track color */
  }
  
  /* Custom Scrollbar for Webkit Browsers */
  .scrollable-content::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollable-content::-webkit-scrollbar-thumb {
    background-color: #ff5555; /* Red thumb */
    border-radius: 4px;
  }
  
  .scrollable-content::-webkit-scrollbar-thumb:hover {
    background-color: #ff0000; /* Brighter red on hover */
  }
  
  .scrollable-content::-webkit-scrollbar-track {
    background-color: #29292c; /* Dark gray track */
    border-radius: 4px;
  }
  .item__cover {
    height: 100%;
  }
  
/* Smooth-scrollbar custom styles */
.scrollbar-track {
    background-color: #333333;
  }
  
  .scrollbar-thumb {
    background-color: #ff3d71; /* Pink scroll thumb */
    border-radius: 4px;
  }
  [data-scrollbar] {
    /* Style Smooth Scrollbar tracks and thumbs */
    --scrollbar-thumb-color: rgba(255, 255, 255, 0.5);
    --scrollbar-track-color: rgba(255, 255, 255, 0.1);
  
    scrollbar-width: thin; /* For Firefox */
  }
  
  /*==============================
	Plyr customization
==============================*/
.plyr {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    border-radius: 6px;
    height: 100%;
  }
  .plyr__video-wrapper {
    background: #222028;
  }
  .plyr__poster {
    background-color: #222028;
  }
  .plyr--video {
    background: #222028;
  }
  @media (min-width: 1200px) {
    .plyr video {
      height: 386px;
    }
    .plyr__poster {
      background-size: cover;
    }
  }
  @media (min-width: 1400px) {
    .plyr video {
      height: 366px;
    }
  }
  .plyr__menu__container .plyr__control {
    transition: 0s ease;
  }
  .plyr__control.plyr__control--overlaid {
    border-radius: 50%;
  }
  .plyr--video .plyr__control.plyr__tab-focus,
  .plyr--video .plyr__control:hover,
  .plyr--video .plyr__control[aria-expanded="true"] {
    background: none;
    background-color: #f9ab00;
  }
  .plyr--video .plyr__control--overlaid {
    box-shadow: none;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transition: 0.5s;
    transition-property: opacity, background-color, color, border-color, transform;
    color: #f9ab00;
    border: 6px solid rgba(255,255,255,0.15);
    padding: 0;
  }
  .plyr--video .plyr__control--overlaid:before {
    content: '\f691';
    font-family: "tabler-icons";
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 24px;
    background-color: #fff;
    border: 6px solid rgba(255,255,255,0.15);
  }
  .plyr--video .plyr__control--overlaid svg {
    display: none;
  }
  .plyr--video .plyr__control--overlaid:hover,
  .plyr--video .plyr__control--overlaid.plyr__tab-focus {
    background-color: rgba(255,255,255,0.2);
    border-color: rgba(249,171,0,0.5);
    color: #f9ab00;
  }
  .plyr--video .plyr__progress__buffer {
    box-shadow: none;
  }
  .plyr__progress__buffer {
    border-radius: 0;
  }
  .plyr--full-ui input[type="range"] {
    color: #f9ab00;
    border-radius: 0;
  }
  .plyr__tab-focus {
    box-shadow: none;
    outline: none;
  }
  .plyr__tooltip {
    font-weight: 400;
  }
  .plyr__control.plyr__tab-focus {
    box-shadow: none;
  }
  .plyr__menu__container .plyr__control[role="menuitemradio"][aria-checked="true"]::before {
    background: none;
    background-color: #f9ab00;
  }
  .plyr__control {
    border-radius: 6px;
  }
  .plyr--video .plyr__control svg {
    filter: none;
  }

  /*==============================
	Item
==============================*/
.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    position: relative;
    margin-top: 24px;
  }
  .item--hero,
  .item--carousel {
    margin-top: 0;
  }
  .item__cover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    background-color: #000;
  }
  .item__cover img {
    width: 100%;
    transition: opacity 0.4s;
  }
  .item__cover:hover img {
    opacity: 0.5;
  }
  .item__cover:hover .item__play {
    opacity: 1;
    transform: scale(1);
  }
  .item__play {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
    z-index: 3;
    font-size: 24px;
    color: #f9ab00;
    transition: 0.4s ease;
    transform: scale(0.9);
    transition-property: opacity, background-color, color, border-color, transform;
    opacity: 0;
    border: 6px solid rgba(255,255,255,0.15);
  }
  .item__play i {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
  }
  .item__play:hover {
    border-color: rgba(249,171,0,0.5);
    color: #f9ab00;
  }
  .item__content {
    position: relative;
    display: block;
    margin-top: 10px;
    width: 100%;
  }
  .item__title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #fff;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-wrap: break-word;
    transition: 0.4s ease;
  }
  .item__title a {
    color: #fff;
  }
  .item__title a:hover {
    color: #f9ab00;
  }
  .item__title:hover {
    color: #f9ab00;
  }
  .item__category {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    flex-wrap: wrap;
  }
  .item__category a {
    font-size: 14px;
    position: relative;
    color: #f9ab00;
    margin-right: 10px;
  }
  .item__category a:after {
    content: ',';
    position: absolute;
    display: block;
    left: 100%;
    top: 0;
    color: #f9ab00;
  }
  .item__category a:last-child {
    margin-right: 0;
  }
  .item__category a:last-child:after {
    display: none;
  }
  .item__category a:hover {
    text-decoration: underline;
  }
  .item__rate {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    top: 15px;
    left: 15px;
    background-color: rgba(26,25,31,0.6);
    border: 2px solid transparent;
    border-radius: 50%;
  }
  .item__rate--green {
    border-color: #29b474;
  }
  .item__rate--yellow {
    border-color: #ffc312;
  }
  .item__rate--red {
    border-color: #eb5757;
  }
  .item__favorite {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    top: 15px;
    right: 15px;
    background-color: #1a191f;
    border-radius: 8px;
    font-size: 18px;
    color: #fff;
  }
  .item__favorite:hover {
    color: #f9ab00;
  }
  .item__favorite--active {
    color: #f9ab00;
  }
  .item__favorite--active:hover {
    color: #eb5757;
  }
  .item__meta {
    display: block;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    .movie-details {
        color: #eb5757;
        margin-left: 10px;
    }
  }
  .item__meta span {
    color: #fff;
    margin-right: 10px;
  }
  .item__meta li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
  }
  .item__meta li:last-child {
    margin-bottom: 0;
  }
  .item__meta a {
    font-size: 16px;
    position: relative;
    color: #f9ab00;
    margin-right: 8px;
  }
  .item__meta a:after {
    content: ',';
    position: absolute;
    display: block;
    left: 100%;
    top: 0;
    color: #f9ab00;
  }
  .item__meta a:last-child {
    margin-right: 0;
  }
  .item__meta a:last-child:after {
    display: none;
  }
  .item__meta a:hover {
    text-decoration: underline;
  }
  .item__description {
    display: block;
    position: relative;
    margin-top: 24px;
    max-height: 200px;
    overflow: hidden;
    border-radius: 8px;
    background-color: #222028;
  }
  .item__description p {
    padding: 15px 20px 0;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    margin-bottom: 0;
  }
  .item__description p:last-child {
    padding-bottom: 15px;
  }
  .item--details {
    display: block;
  }
  .item--details .item__cover {
    max-width: 250px;
  }
  .item--details .item__cover:hover img {
    opacity: 1;
  }
  .item--details .item__cover:hover:before {
    opacity: 0;
  }
  .item--details .item__content {
    margin-top: 20px;
  }
  @media (min-width: 768px) {
    .item--hero .item__title {
      font-size: 20px;
    }
    .item--hero .item__rate {
      top: 20px;
      left: 20px;
    }
    .item--hero .item__favorite {
      top: 20px;
      right: 20px;
    }
    .item--details .item__cover {
      max-width: 100%;
    }
    .item--details .item__content {
      margin-top: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      height: 100%;
    }
    .item--details .item__description {
      max-height: 175px;
    }
  }
  @media (min-width: 992px) {
    .item--details .item__description {
      max-height: 200px;
    }
  }
  @media (min-width: 1200px) {
    .item--hero .item__title {
      font-size: 22px;
    }
    .item--hero .item__play {
      width: 70px;
      height: 70px;
      font-size: 28px;
      margin: -35px 0 0 -35px;
    }
    .item--hero .item__category a {
      font-size: 16px;
    }
    .item--details {
      margin-bottom: 0;
    }
    .item--details .item__description {
      max-height: 140px;
    }
    .item__cover:hover .item__favorite {
      opacity: 1;
      transform: scale(1);
    }
    .item__favorite {
      transition: 0.4s ease;
      transform: scale(0.9);
      transition-property: opacity, background-color, color, border-color, transform;
      opacity: 0;
    }
    .item__favorite--static {
      opacity: 1;
      transform: scale(1);
    }
    .item__favorite--active {
      opacity: 1;
      transform: scale(1);
    }
  }
  @media (min-width: 1400px) {
    .item--details .item__description {
      max-height: 160px;
    }
  }